INSTRUCTIONS:
#add=1e-8
#fadd=1e-8
#sub=1e-8
#fsub=1e-8
#mul=1e-8
#fmul=1e-8
#udiv=1e-8
#sdiv=1e-8
#fdiv=1e-8
#urem=1e-8
#srem=1e-8
#frem=1e-8
#shl=1e-8
#lshr=1e-8
#ashr=1e-8
#and=1e-8
#or=1e-8
#xor=1e-8
#alloca=1e-8
#load=1e-8
#store=1e-8
#getelementptr=1e-8
#icmp=1e-8
#fcmp=1e-8
#call=1e-8
FUNCTIONS:
FLIPIT_Init=0
FLIPIT_Finalize=0
FLIPIT_SetInjector=0
FLIPIT_SetRankInject=0
FLIPIT_SetFaultProbability=0
FLIPIT_SetCustomLogger=0
global constructors keyed to a=0

